<h1>Seja-Bem vindo ao FinanSesi</h1>
<h3>Aprendendo programação e finanças</h3>
<div class="blocos">
    <a href="/juros_Simples"><div class="bloco">
    <h1>Juros Simples</h1>
    <img src="./img/juros_simples.png" alt="juros simples" class="ajusteimg">
</div></a>
<a href="/juros_compostos"><div class="bloco">
    <h1 style="text-shadow: 0 4px 4px #555;">Juros Compostos</h1>
    <img src="./img/juros_composto.png" alt="juros compostos" class="ajusteimg">
</div></a>
</div>
